body{
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -12%;
    margin: 0;
    padding: 0;

}
#content{
    text-align: center;
    background-color: antiquewhite;
    margin: 0;
    padding: 0.1%;
    
}
#counter, #main{
    font-size: 1.25em;
}
#counter{
    border-color: black;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
h2{
    margin-bottom: 0%;
}
h1,h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
button{
    border-radius: 5px;
    border: 5px ridge;
}
button:hover{
    background-color: greenyellow;
}
h1:hover{
    color: green;
}
h2:hover{
    color: red;
}
#feedback {
    font-weight: lighter;
}